HELP.md

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iwsd
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
/target/**
target/
### VS Code ###
.vscode/
.DS_Store
target/classes/application.properties
target/classes/com/losmessias/leherer/domain/ClassReservation$ClassReservationBuilder.class
target/classes/com/losmessias/leherer/domain/ClassReservation.class
target/classes/com/losmessias/leherer/domain/Feedback$FeedbackBuilder.class
target/classes/com/losmessias/leherer/domain/Feedback.class
target/classes/com/losmessias/leherer/domain/LoadedData.class
target/classes/com/losmessias/leherer/domain/NotificationProfessor$NotificationProfessorBuilder.class
target/classes/com/losmessias/leherer/domain/NotificationStudent$NotificationStudentBuilder.class
target/classes/com/losmessias/leherer/domain/Professor$ProfessorBuilder.class
target/classes/com/losmessias/leherer/domain/ProfessorSubject$ProfessorSubjectBuilder.class
target/classes/com/losmessias/leherer/domain/ProfessorSubject.class
target/classes/com/losmessias/leherer/domain/Student$StudentBuilder.class
target/classes/com/losmessias/leherer/dto/ClassReservationCancelDto.class
target/classes/com/losmessias/leherer/dto/ClassReservationDto.class
target/classes/com/losmessias/leherer/dto/ClassReservationResponseDto.class
target/classes/com/losmessias/leherer/dto/CommentDto.class
target/classes/com/losmessias/leherer/dto/FeedbackDto.class
target/classes/com/losmessias/leherer/dto/ProfessorStaticsDto.class
target/classes/com/losmessias/leherer/dto/RegistrationProfessorRequest.class
target/classes/com/losmessias/leherer/dto/SubjectRequestDto.class
target/classes/com/losmessias/leherer/dto/UnavailableClassReservationDto.class
target/classes/com/losmessias/leherer/dto/UploadInformationDto.class
target/classes/com/losmessias/leherer/service/NotificationService.class
target/classes/com/losmessias/leherer/tasks/ClassReservationsOrchestrator.class
target/leherer-0.0.1-SNAPSHOT.jar
target/leherer-0.0.1-SNAPSHOT.jar.original
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/surefire-reports/com.losmessias.leherer.controller_tests.ClassReservationcontrollerTests.txt
target/surefire-reports/com.losmessias.leherer.controller_tests.ProfessorControllerTests.txt
target/surefire-reports/com.losmessias.leherer.controller_tests.ProfessorSubjectControllerTests.txt
target/surefire-reports/com.losmessias.leherer.controller_tests.StudentControllerTests.txt
target/surefire-reports/com.losmessias.leherer.controller_tests.SubjectControllerTests.txt
target/surefire-reports/com.losmessias.leherer.LehererApplicationTests.txt
target/surefire-reports/com.losmessias.leherer.repository_tests.AppUserRepositoryTest.txt
target/surefire-reports/com.losmessias.leherer.repository_tests.ClassReservationRepositoryTests.txt
target/surefire-reports/com.losmessias.leherer.repository_tests.ConfirmationTokenRepositoryTests.txt
target/surefire-reports/com.losmessias.leherer.repository_tests.ProfessorSubjectRepositoryTests.txt
target/surefire-reports/com.losmessias.leherer.service_tests.AppUserServiceTest.txt
target/surefire-reports/com.losmessias.leherer.service_tests.ClassReservationServiceTests.txt
target/surefire-reports/com.losmessias.leherer.service_tests.ConfirmationTokenServiceTest.txt
target/surefire-reports/com.losmessias.leherer.service_tests.ProfessorServiceTests.txt
target/surefire-reports/com.losmessias.leherer.service_tests.ProfessorSubjectServiceTests.txt
target/surefire-reports/com.losmessias.leherer.service_tests.RegistrationServiceTests.txt
target/surefire-reports/com.losmessias.leherer.service_tests.StudentServiceTests.txt
target/surefire-reports/com.losmessias.leherer.service_tests.SubjectServiceTests.txt
target/surefire-reports/TEST-com.losmessias.leherer.controller_tests.ClassReservationcontrollerTests.xml
target/surefire-reports/TEST-com.losmessias.leherer.controller_tests.ProfessorControllerTests.xml
target/surefire-reports/TEST-com.losmessias.leherer.controller_tests.ProfessorSubjectControllerTests.xml
target/surefire-reports/TEST-com.losmessias.leherer.controller_tests.StudentControllerTests.xml
target/surefire-reports/TEST-com.losmessias.leherer.controller_tests.SubjectControllerTests.xml
target/surefire-reports/TEST-com.losmessias.leherer.LehererApplicationTests.xml
target/surefire-reports/TEST-com.losmessias.leherer.repository_tests.AppUserRepositoryTest.xml
target/surefire-reports/TEST-com.losmessias.leherer.repository_tests.ClassReservationRepositoryTests.xml
target/surefire-reports/TEST-com.losmessias.leherer.repository_tests.ConfirmationTokenRepositoryTests.xml
target/surefire-reports/TEST-com.losmessias.leherer.repository_tests.ProfessorSubjectRepositoryTests.xml
target/surefire-reports/TEST-com.losmessias.leherer.service_tests.AppUserServiceTest.xml
target/surefire-reports/TEST-com.losmessias.leherer.service_tests.ClassReservationServiceTests.xml
target/surefire-reports/TEST-com.losmessias.leherer.service_tests.ConfirmationTokenServiceTest.xml
target/surefire-reports/TEST-com.losmessias.leherer.service_tests.ProfessorServiceTests.xml
target/surefire-reports/TEST-com.losmessias.leherer.service_tests.ProfessorSubjectServiceTests.xml
target/surefire-reports/TEST-com.losmessias.leherer.service_tests.RegistrationServiceTests.xml
target/surefire-reports/TEST-com.losmessias.leherer.service_tests.StudentServiceTests.xml
target/surefire-reports/TEST-com.losmessias.leherer.service_tests.SubjectServiceTests.xml
target/test-classes/application.properties
target/test-classes/com/losmessias/leherer/controller_tests/ClassReservationcontrollerTests.class
target/test-classes/com/losmessias/leherer/controller_tests/FeedbackControllerTests.class
target/test-classes/com/losmessias/leherer/controller_tests/ProfessorControllerTests.class
target/test-classes/com/losmessias/leherer/controller_tests/ProfessorSubjectControllerTests.class
target/test-classes/com/losmessias/leherer/controller_tests/StudentControllerTests.class
target/test-classes/com/losmessias/leherer/controller_tests/SubjectControllerTests.class
target/test-classes/com/losmessias/leherer/domain_tests/FeedbackDomainTests.class
target/test-classes/com/losmessias/leherer/LehererApplicationTests.class
target/test-classes/com/losmessias/leherer/repository_tests/AppUserRepositoryTest.class
target/test-classes/com/losmessias/leherer/repository_tests/ClassReservationRepositoryTests.class
target/test-classes/com/losmessias/leherer/repository_tests/ConfirmationTokenRepositoryTests.class
target/test-classes/com/losmessias/leherer/repository_tests/ProfessorSubjectRepositoryTests.class
target/test-classes/com/losmessias/leherer/service_tests/AppUserServiceTest.class
target/test-classes/com/losmessias/leherer/service_tests/ClassReservationServiceTests.class
target/test-classes/com/losmessias/leherer/service_tests/ConfirmationTokenServiceTest.class
target/test-classes/com/losmessias/leherer/service_tests/FeedbackServiceTests.class
target/test-classes/com/losmessias/leherer/service_tests/FileServiceTests.class
target/test-classes/com/losmessias/leherer/service_tests/JwtServiceTests.class
target/test-classes/com/losmessias/leherer/service_tests/NotificationServiceTests.class
target/test-classes/com/losmessias/leherer/service_tests/ProfessorServiceTests.class
target/test-classes/com/losmessias/leherer/service_tests/ProfessorSubjectServiceTests.class
target/test-classes/com/losmessias/leherer/service_tests/RegistrationServiceTests.class
target/test-classes/com/losmessias/leherer/service_tests/StudentServiceTests.class
target/test-classes/com/losmessias/leherer/service_tests/SubjectServiceTests.class
target/test-classes/templates/login.html
target/classes/application.properties
target/classes/com/losmessias/leherer/domain/ClassReservation$ClassReservationBuilder.class
target/classes/com/losmessias/leherer/domain/ClassReservation.class
target/classes/com/losmessias/leherer/domain/Feedback$FeedbackBuilder.class
target/classes/com/losmessias/leherer/domain/Feedback.class
target/classes/com/losmessias/leherer/domain/LoadedData.class
target/classes/com/losmessias/leherer/domain/NotificationProfessor$NotificationProfessorBuilder.class
target/classes/com/losmessias/leherer/domain/NotificationStudent$NotificationStudentBuilder.class
target/classes/com/losmessias/leherer/domain/Professor$ProfessorBuilder.class
target/classes/com/losmessias/leherer/domain/ProfessorSubject$ProfessorSubjectBuilder.class
target/classes/com/losmessias/leherer/domain/ProfessorSubject.class
target/classes/com/losmessias/leherer/domain/Student$StudentBuilder.class
target/classes/com/losmessias/leherer/dto/ClassReservationCancelDto.class
target/classes/com/losmessias/leherer/dto/ClassReservationDto.class
target/classes/com/losmessias/leherer/dto/ClassReservationResponseDto.class
target/classes/com/losmessias/leherer/dto/CommentDto.class
target/classes/com/losmessias/leherer/dto/FeedbackDto.class
target/classes/com/losmessias/leherer/dto/ProfessorStaticsDto.class
target/classes/com/losmessias/leherer/dto/RegistrationProfessorRequest.class
target/classes/com/losmessias/leherer/dto/SubjectRequestDto.class
target/classes/com/losmessias/leherer/dto/UnavailableClassReservationDto.class
target/classes/com/losmessias/leherer/dto/UploadInformationDto.class
target/classes/com/losmessias/leherer/service/NotificationService.class
target/classes/com/losmessias/leherer/tasks/ClassReservationsOrchestrator.class
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
